<%- include('partials/header1')%>
<div class="filter ">
  <a href="/navigation"><i class="fas fa-angle-double-left">Go Back</i></a>
</div>
<div class="lab_listing_header">
  <h1>Lab Listing Page</h1>
</div>
<div class="newLabbtn">
  <a href="/addlab"class="border-shadow addbutton"
    <span class="text-gradient" role="button">New Lab <i class="fas fa-desktop"></i></span>
  </a>
</div>
<div class="topnav search-container ">
    <input type="text" placeholder="Search.." name="search" id="myInput"  onkeyup="searchlab()">
    <%# <button type="submit"><i class="fa fa-search"></i></button> %>
</div>

<div class="lab tableFixHead">
  <table class="table-striped labtable" id="labTable">
    <thead class="thead-dark">
      <tr>
        <th class="th2" scope="col">LabID</th>
        <th class="th2" scope="col">Name</th>
        <th class="th2" scope="col">Room No</th>
        <th class="th2" scope="col">Block</th>
        <th class="th2" scope="col">Floor</th>
        <th class="th2" scope="col">Type</th>
        <th class="th2" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%lablist.forEach(lab =>{%>
      <tr>
        <th class="td2" scope="row"><%= lab.lab_id %></th>
        <td class="td2"><%= lab.lab_name %></td>
        <td class="td2"><%= lab.room_no %></td>
        <td class="td2"><%= lab.block %></td>
        <td class="td2"><%= lab.floor %></td>
        <td class="td2"><%= lab.type %></td>
        <td class="td2">
          <a href="/updatelab?id=<%= lab._id %>" class="btn border-shadow update">
            <span  class="text-gradient"> <i class="fas fa-pencil-alt"></i></span>
          </a>
          <a class="btn border-shadow delete" data-id=<%=lab._id%>>
            <span class="text-gradient"> <i class="fas fa-times"></i></span>
          </a>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>



  <script>
    const searchlab = () =>{
      let filter = document.getElementById('myInput').value.toUpperCase();
      let LabTable = document.getElementById('labTable');
      let tr = LabTable.getElementsByTagName('tr');
      for(var i=0;i<tr.length;i++){
        let td = tr[i].getElementsByTagName('td')[0];
        if(td){
          let textvalue = td.textContent||td.innerHTML;
          if(textvalue.toUpperCase().indexOf(filter) > -1){
            tr[i].style.display="";
          }else{
            tr[i].style.display="none";
          }
        }
      }
    }
  </script>

</div>
<div class="labOVFDbtn">
  <a class="btn btn-primary lab2btn" href="/labEqipdetails" role="button">EquipmentDetails</a>
</div>


<%- include('partials/footer1')%>
