<%- include('partials/header1')%>
<div class="container">
  <a href="/ClassRoomListing"><i class="fas fa-angle-double-left">Go Back</i></a>
  <fieldset>
    <form method="post" id="update_class">
      <!-- Form Name -->
      <legend>
        <center>
          <h2><b>Update Classroom Details</b></h2>
        </center>
      </legend><br>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Class ID</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="hidden" name="id" value="<%= classlist._id %>">
            <input name="class_id" value="<%= classlist.class_id %>" placeholder="Classroom ID" class="form-control" type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Room no</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="room_no" value="<%= classlist.room_no %>" placeholder="Room no" class="form-control" type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Block</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="block" value="<%= classlist.block %>" placeholder="Block" class="form-control" type="text">
          </div>
        </div>
      </div>


      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Branch</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="branch" value="<%= classlist.branch %>" placeholder="Branch" class="form-control" type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Floor</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="floor" value="<%= classlist.floor %>" placeholder="Floor" class="form-control" type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Type</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="type" value="<%= classlist.type %>" class="form-control selectpicker" >
              <option >Select type</option>
              <option >Class</option>
              <option >Others</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Select Basic -->
      <!-- Success message -->
      <!-- Button -->
      <div class="form-group">
        <div class="col-lg-6 Others">
          <form action="/submit" method="post">
            <button type="submit" class="btn btn-warning ">UPDATE</button>
          </form>
        </div>
      </div>
    </form>

  </div>


  <%- include('partials/footer1')%>
